@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
	min-height: 100vh;
}

.box {
	padding: 0 !important;
}

a:hover {
	border-radius: 5px;
}

.note-box {
	height: 15px;
	width: 15px;
}

.group-selection, .group-selection-trigger {
	width: 100%;
}

.column-404 {
	width: 100%;
}

.is-60-height {
	height: 60px;
}

.is-60-height-child {
	height: 100%;
}

.add-couple-button {
	line-height: 60px;
}

.dropdown-menu {
	width: 100%;
	max-height: 50vh;
	overflow-y: scroll;
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, .02);
	border-radius: 5px;
}

.dropdown-menu::-webkit-scrollbar {
	display: none;
}

.day-of-week, .title-of-table {
	color: white;
	background-color: #1b1b1b;
	border-radius: 6px 6px 0 0;
}

.couple {
	border-radius: 0;
	height: 120px;
	font-size: 0.8em;
}

.couple:hover {
	background-color: #f5f5f5;
}

.last-couple {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.couples .couple:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.tabs {
	display: none !important;
}

.tabs.is-active {
	display: flex !important;
}

.tabs-content > div > div {
	display: none;
}

.tabs-content > div > div.active {
	display: flex;
}

#entity-list-app {
	width: 100%;
}

.is-fullwidth {
	width: 100%;
}

.edit-fields {
	padding: 8px 12px !important;
	height: auto;
}

#modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transition: 200ms ease-in-out;
	transform: translate(-50%, -50%) scale(0);
	z-index: 10;
	max-height: 500px;
}

#modal.active {
	transform: translate(-50%, -50%) scale(1);
}

#overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

#modal .related-entities {
	max-height: 300px;
	overflow-y: auto;
	scrollbar-color: #000000 #e0e0e0;
	scrollbar-width: thin;
	overflow-x: hidden;
}


.errors, .success {
	position: fixed;
	left: 50%;
	transform: translateX(-50%) scale(1);
	z-index: 10;
	max-height: 500px;
}

.error-title {
	border-radius: 6px 6px 0 0;
}
